/*---------------------------*/
/*------CUSTOM STYLES-------*/
/*---------------------------*/


h1, h2, h3, h4, h5, h6 {
	font-style: italic;
}

fieldset {
	align-items: center;
	text-align: center;
	padding: var(--mang-space-sm);
}

form {
	margin: var(--mang-space-xxl);
}

footer{
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0;
	background-color: black;
	margin-top: var(--mang-space-xl);
}


@media (min-width: 0px) {

}
@media (min-width: 375px) {

}
@media (min-width: 480px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {

}
@media (min-width: 1440px) {

}
@media (min-width: 1920px) {

}


#title {
	margin-top: var(--mang-space-sm);
	margin-bottom: var(--mang-space-lg);
}

#tinkle-logo{
	padding-top: var(--mang-space-xs);
	padding-bottom: var(--mang-space-xs);
	margin-bottom: var(--mang-space-xs);
	background-color: transparent;
	border-bottom: var(--mang-border-width-02) var(--mang-color-grey-03);
}

.text-footer{
	padding-top: 16px;
}


.divider {
	height: 1px;
	width: 100%;
	background-color: var(--mang-color-grey-01);
	margin-top: var(--mang-space-sm);
	margin-bottom: var(--mang-space-sm);
}