/*----------------------------------*/
/*------------LOAD FONTS------------*/
/*----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Rajdhani:300,400,500,600,700&display=swap');



/*
@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-RegularItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Mediumitalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Bolditalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Heavy.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Heavyitalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Black.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'New York Large';
	src: url('../fonts/NewYorkLarge-Blackitalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}

*/


/*----------------------------------*/
/*
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Ultralightitalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Thin.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Thinitalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Lightitalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Regularitalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Mediumitalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Bolditalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Heavy.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Heavyitalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Black.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Blackitalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}

*/
